<div ng-app="SvgApp">
<div class="two columns" >
  <ul class="nav-bar vertical">
    <li class="active">
      Hey
    </li>
    <li>
      Ho
    </li>
  </ul>
</div>
<div class="nine columns offset-by-one">
  <div ng-view></div>
</div>
</div>
