<div ng-app="SvgApp">
  <div ng-controller="SvgCtl" />
    <div class="two columns" >
      <ul class="nav-bar vertical">
        <li ng-repeat="tess in tessellations" 
            ng-class="{active: current_tess(tess) }">
          <a href="#/{{tess}}">{{tess}}</a>
        </li>
      </ul>
    </div>
    <div class="ten columns">
      <div ng-view></div>
    </div>
  </div>
</div>
